header
{
  margin: 0%;
}
header nav
{
  background-color: #000;
}
header nav a
{
  display: inline-block;
  background-color: #000;
  opacity: 0.8;
  margin: 1% 0% 1% 0%;
  width: 30%;
  height: auto;
  padding: 5px 5px 5px 5px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
header nav a:hover
{
  background-color: #fff;
  opacity: 1.0;
  color: #000;
}
section img
{
  display:block;
  width: 100%;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 0px;
  z-index: 1;
}
footer
{
  display: block;
  justify-content: center;
  margin: 0px;
  color: #fff;
  margin: 0px;
}

footer ul
{
  margin: 0px;
  display: block;
  height: 50px;
  text-align: center;
  background-color: #000;
  margin: 0px;
  vertical-align: middle;
}
footer ul a
{
  padding-top: 10px;
  margin-bottom: 0%;
}
a.twitter
{
  display: inline-block;
#  width: 5%;
}
a.facebook
{
  display: inline-block;
  #width: 5%;
}
a.linkedin
{
  display: inline-block;
  #width: 5%;
}
a.instagram
{
  display: inline-block;
  #width: 5%;
}
figcaption
{
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
  background-color: #000;
  padding-right: 5%;
}
